.is0 {
	BACKGROUND: url(default/progressImg1.png) no-repeat 0px 0px; WIDTH: 138px; HEIGHT: 7px
}
.is10 {
	BACKGROUND-POSITION: 0px -7px
}
.is20 {
	BACKGROUND-POSITION: 0px -14px
}
.is30 {
	BACKGROUND-POSITION: 0px -21px
}
.is40 {
	BACKGROUND-POSITION: 0px -28px
}
.is50 {
	BACKGROUND-POSITION: 0px -35px
}
.is60 {
	BACKGROUND-POSITION: 0px -42px
}
.is70 {
	BACKGROUND-POSITION: 0px -49px
}
.is80 {
	BACKGROUND-POSITION: 0px -56px
}
.is90 {
	BACKGROUND-POSITION: 0px -63px
}
.is100 {
	BACKGROUND-POSITION: 0px -70px
}